
.about-section {
    padding: 2rem;
}

.about-image-container {
    width: 40%;
}

.about-image-container img{
    width: 40px;
}


.about-description-container {
    border: solid 1px blue;
    width: 60%;
    padding: 2rem;
}

.about-description-container p{
    margin: 2rem 0px;
    width: 40%;
}

.label-list{
    width: 70%;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
}